$nav-medium-width: 240px;

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: $nav-medium-width;
    height: 100vh;
    padding: 8px 12px 20px 12px;
    background-color: $primary-white;
    @include size(lg) {
        width: auto;
    }
    @include size(sm) {
        top: auto;
        bottom: 0;
        right: 0;   
        min-width: 375px;
        height: auto;
        padding: 0;
        z-index: 99;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        bottom: 0;
        background-color: #B5B5B6;
        @include size(sm) {
            width: 100%;
            height: 1px;
            left: 0;
            bottom: auto;
        }
    }
    .logo {
        display: block;
        margin: 26px 12px 36px;
        @include icon(logo, $primary, 96px, 24px);
        @include size(lg) {
            margin: 26px 8px 36px;
            @include icon(wicon, $primary, 30px, 30px);
        }
        @include size(sm) {
            @include icon(logo, $primary, 96px, 24px);
            position: fixed;
            top: 0;
            left: 12px;
            height: 60px;
            display: flex;
            align-items: center;
            margin: 0;
            width: 56px;
            transform: translateY(0);
            transition: transform .5s;
            z-index: 10;
            .__active & {
                transform: translateY(-60px);
            }
        }
        a { 
            display: block;
            width: 100%;
            height: 100%;
            @include _hide;
        }
    }
    .gnb {
        @include size(sm) {            
            > ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                li {
                    margin: 4px 0;
                }
            }
        }
        li {
            display: flex;            
            margin: 16px 0;
            a {
                display: flex;
                align-items: center;
                flex-direction: row;
                width: 100%;
                padding: 12px;
                font-weight: bold;
                transition: background-color .3s;
                font-weight: 900;
                color: $primary;
                &::before, i {
                    margin-right: 16px;
                    transition: transform .3s;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                    border-radius: 8px;
                    &::before, i {
                        transform: scale(1.1);
                    }
                }
                &.active {
                    color: $primary-black;
                }
                @include size(lg) {
                    flex-direction: column;
                    @include _hide;
                    &::before {
                        margin-right: 0;
                    }
                }
            }
            &.home a {
                &::before {@include icon(home, $primary);}
                &.active::before {background-image: _svg(home, $primary-black);}
            }
            &.course a {
                &::before {@include icon(cource, $primary);}
                &.active::before {background-image: _svg(cource, $primary-black);}
            }
            &.create a {
                &::before {@include icon(create, $primary);}
                &.active::before {background-image: _svg(create, $primary-black);}
            }
            &.notice a {
                &::before {@include icon(notice, $primary);}
                &.active::before {background-image: _svg(notice, $primary-black);}
            }
            &.chat a {
                &::before {@include icon(chat, $primary);}
                &.active::before {background-image: _svg(chat, $primary-black);}
            }
            &.profile a i {
                @include _profile;
                @include size(lg) {
                    margin-right: 0;
                }
            }
            @include size(sm) {
                &.chat {
                    position: fixed;
                    top: 0;
                    right: 8px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    transform: translateY(0);
                    transition: transform .5s;
                    z-index: 10;
                    .__active & {
                        transform: translateY(-60px);
                    }
                    a:hover {
                        background-color: transparent;
                        
                    }
                }
            }
        }
    }
    .terms {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 26px 20px 20px;
        color: #C9CACA;
        font-size: 12px;
        font-weight: 600;
        @include size(lg) {
            display: none;
        }
        li {
            margin-bottom: 4px;
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;
            &:last-child {
                margin-bottom: 16px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            color: inherit;
            font-size: inherit;
        }
    }
}